header {
    background-color: #3ab063;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #3ab063;
}

/* Estilos del contenido principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Estilos de los botones */
.btn {
    display: block;
    /* Esto hace que cada botón ocupe todo el ancho disponible */
    width: 200px;
    /* Ancho fijo para todos los botones */
    padding: 12px 20px;
    /* Espaciado interno para que el texto esté rodeado */
    margin: 10px auto;
    /* Centrado y espacio entre botones */
    text-align: center;
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
    border: line 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 4px;
    /* Bordes ligeramente redondeados (opcional) */
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: #ecf7f0;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.hero p {
    font-size: 1.2rem;
    color: #7f8c8d;
}


/* Estilos de formulario inicio sesion */

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #2c3e50;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #c9e8d4;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
}