<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareScan - Inicio</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>
        <div class="logo">CareScan</div>
        <nav>
            <ul>
                <li><a href="/demo">Ver demostración</a></li>
                <li><a href="/saberMas">Saber más</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <section class="hero">
            <h2>Bienvenido a CareScan (Admin loggeado) </h2>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 CareScan - TFG Marta</p>
    </footer>
</body>
</html>